@import url('https://fonts.googleapis.com/css?family=Space+Mono');
body {
    margin: 0;
    padding: 0;
}

.App {
    filter: grayscale(0);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: come-up-and-fade-in 0.5s linear forwards;
    padding: 10px;    
}

.App {
    font-family: 'Space Mono', monospace;
}

@keyframes come-up-and-fade-in {
    0% {
        filter: grayscale(200);
        transform: translateY(50px);
    }
    100% {
        filter: grayscale(0);
        transform: translateY(0px);
    }
}