.left-this-day-container {
    background-color: #ff7c7c;
    min-height: 65vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    animation: animate-red-background 9s linear infinite;
}

@keyframes animate-red-background{
    50%{
        background-color: #ff5454;
    }
}

.left-this-day-container h2 {
    font-size: 40px;
    flex-basis: 30%;
}

.left-this-day-container h3 {
    font-size: 26px;
}

.left-this-day-container div {
    display: flex;
    text-align: center;
    flex-direction: column;
}

@media(max-width:1024px) {
    .left-this-day-container h2 {
        font-size: 32px;
    }
    .left-this-day-container h3 {
        font-size: 20px;
    }
}

@media(max-width:640px) {
    .left-this-day-container {
        flex-direction: column;
        justify-content: center;
    }
    .left-this-day-container h2 {
        flex-basis: 50%;
        font-size: 22px;
    }
    .left-this-day-container h3 {
        font-size: 18px;
    }
}