.left-this-year-container {
    background-color: #57ff95;
    min-height: 80vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}


.left-this-year-container h2,h3 {
    flex-basis: 35%;
    font-size: 26px;
}

@media(max-width: 1024px) {
    .left-this-year-container {
        justify-content: center;
        flex-direction: column;
    }
    .left-this-year-container h2,h3{
        font-size: 22px;
    }
}

@media(max-width: 640px) {
    .left-this-year-container {
        flex-direction: column;
        justify-content: center;
    }
    .left-this-year-container h2,h3{
        font-size: 18px;
    }
}