.this-instance-container {
    background-color: #d5fafd;
    min-height: 50vh;
    color: #585858;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-animation: animate-instance-background 10s linear infinite;
            animation: animate-instance-background 10s linear infinite;
}

@-webkit-keyframes animate-instance-background{
    50%{
        background-color: #baf9ff; 
    }
}

@keyframes animate-instance-background{
    50%{
        background-color: #baf9ff; 
    }
}

.this-instance-container h1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 90px;
    -webkit-animation: 3s pulse linear infinite;
            animation: 3s pulse linear infinite;
}

.this-instance-container h2 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 40px;
}

/* ANIMATIONS */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    2% {
        -webkit-transform: scale(1.01);
                transform: scale(1.01);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    52% {
        -webkit-transform: scale(1.01);
                transform: scale(1.01);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    2% {
        -webkit-transform: scale(1.01);
                transform: scale(1.01);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    52% {
        -webkit-transform: scale(1.01);
                transform: scale(1.01);
    }
}

/* END OF ANIMATIONS */

/* Media Queries For Phoens */

@media (max-width: 1024px) {
    .this-instance-container h1 {
        font-size: 66px;
    }
    .this-instance-container h2 {
        font-size: 32px;
    }
}

@media (max-width: 640px) {
    .this-instance-container h1 {
        font-size: 42px;
    }
    .this-instance-container h2 {
        font-size: 24px;
    }
}