.year-stats-container {
    background-color: #8ce9ae;
    min-height: 65vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.year-stats-container h2 {
    font-size: 40px;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}

.year-stats-container h3 {
    font-size: 26px;
}

/* .year-stats-container{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
} */

.year-stats-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media(max-width:1024px) {
    .year-stats-container h2 {
        font-size: 32px;
    }
    .year-stats-container h3 {
        font-size: 20px;
    }
}

@media(max-width:640px) {
    .year-stats-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .year-stats-container h2 {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        font-size: 22px;
    }
    .year-stats-container h3 {
        font-size: 18px;
    }
}