.year-stats-container {
    background-color: #ff7c7c;
    min-height: 65vh;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.year-stats-container h2 {
    font-size: 40px;
}

.year-stats-container h3 {
    font-size: 26px;
}

.year-stats-container .year-stats {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
}

.year-stats-container .year-stats div {
    flex-basis: 50%;
}

@media(max-width:1024px) {
    .year-stats-container h2 {
        font-size: 32px;
    }
    .year-stats-container h3 {
        font-size: 20px;
    }
    .year-stats-container .year-stats div {
        flex-basis: 50%;
    }
}

@media(max-width:640px) {
    .year-stats-container{
        flex-direction: column;
        justify-content: center;
    }

    .year-stats-container h2 {
        flex-basis: 50%;
        font-size: 22px;
    }
    .year-stats-container h3 {
        font-size: 18px;
    }
}